$white-color: #fff;
$cold-green-color: #2f889a;
$cold-green-color-hover: #297385;
$orange-yellow-color: #eb6d4a;
$yellow-color: #fbae17;
$green-grass-color: #4caf50;
$red-pink-color: #e91e63;
$red-color: #ee0005;
$grey-white: #f1f1f1;
$grey-white-border-color: rgba(0, 0, 0, 0.09);
$grey-white-text-color: rgba(0, 0, 0, 0.55);
